@{
    ViewData["Title"] = "Users";
}
<div class="">
    <h5 class="text-center">Scores For Attempted Courses</h5>
    <table class="table table-striped table-condensed nowrap" style="width: 100%" id="trans-table"></table>
</div>
@section css {

    <link href="~/css/datatables.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/js/datatables.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        var table,
            search_repayment_history = function () {
                try {
                    table = $('#trans-table').DataTable({
                        'processing': true,
                        'serverSide': true,
                        "ajax": {
                            'url': '/Home/GetUserList',
                            "method": "POST",
                            "data": function (d) {
                
                            }

                        },
                        "columns": [
                            { "data": "names", title: "Names"},
                            { "data": "scores", title: "Scores" },
                            { "data": "courses", title: "Courses Attempted" },
                            { "data": "categories", title: "Course Categories" }
                        ],
                        "columnDefs": [
                            
                        ],
                        "language": {
                            "emptyTable": "There are no requests at present.",
                            "zeroRecords": "There were no matching requests found."
                        },
                        "searching": true,
                        "ordering": false,
                        "paging": true,
                        "pageLength": 50,
                        'dom': 'Bfrtip',
                        "Filter": false,
                        "initComplete": function () {

                        }
                    });
                }
                catch (ex) {
                    alert('Error Occured');
                    console.log(ex);
                }
            },
            search_history = function () {
                if (typeof table !== "undefined") {
                    $('#trans-table').DataTable().ajax.reload();

                }
                else {
                    search_repayment_history();
                }
            };
        $(document).ready(function () {

            search_history();
        
        });

    </script>
}